<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content={csrf_token_value()}>
  <%= live_title_tag assigns[:page_title] || "Sapiens" , suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
</head>

<body class="bg-second-200 font-body">
  <header>
    <section class="w-100">
      <nav class="bg-white h-14 w-max-full text-main px-1 md:px-0 border-b border-b-[#777777] ">
        <div class="grid grid-cols-2 md:grid-cols-3 grid-rows-1 place-self-center  h-full">
          <div class="flex col-start-1 col-span-2 my-auto">
            <span id="menu">
              <span class="material-icons md-48 text-3xl">
                menu
              </span>
            </span>
            <div id="logo" class="text-4xl hover:text-highlight font-app_logo uppercase ml-4 my-auto align-text-bottom">
              Sapiens
            </div>
          </div>
          <div id="page"
            class="invisible md:visible md:col-start-2 md:col-span-1 place-self-center font-bold text-main text-3xl">
            Page
          </div>
          <div id="links"
            class="col-start-2 place-self-end row-span-1 md:col-start-3 flex justify-end my-auto w-full md:w-1/2">
            <div id="notifications" class="material-icons md-40 md:hover:text-highlight cursor-pointer">
              notifications
            </div>
            <span class="material-icons md-40 md:hover:text-highlight cursor-pointer">
              messages
            </span>
            <div class="material-icons md-40  md:hover:text-highlight cursor-pointer">
              person
            </div>
            <div class="material-icons md-40 md:hover:text-highlight cursor-pointer">
              logout
            </div>
          </div>
        </div>
      </nav>
    </section>
  </header>
  <div class="w-[80%] md:w-[20%] h-[90vh] bg-second-100 border-r border-black">
    <div>
      <span class="material-icons md-40 ml-0">menu_open</span>
      <span> Menu </span>
    </div>
    <div>
      Acerto de Matrícula
    </div>
    <div>
      Avaliacõs
    </div>
    <div>
      Dados Academicos
    </div>
    <div>
      Dados Pessoais
    </div>
    <div>
      Biblipteca
    </div>
    <div>
      Plano de Estudo
    </div>
    <div>
      Email
    </div>


  </div>
  <!-- <%= @inner_content %> -->
  <div id="footer" class="w-100 bg-main-200 text-white"> Footer </div>
</body>

</html>
