// See the Tailwind configuration guide for advanced usage
// https://tailwindcss.com/docs/configuration
module.exports = {
  content: [
    './js/**/*.js',
    '../lib/*_web.ex',
    '../lib/*_web/**/*.*ex'
  ],
  theme: {
    extend: {
      colors: {
        hovering: {DEFAULT: '#eeeee4', dark: 'BCBCB2'},
        primary: {light: "d1a604", opt: '#ffffff', DEFAULT: '#f2f2f2', dark: '#bfbfbf'},
        secundary: {dark: '#00000', DEFAULT: '#222222', light: '#494949'},
        highlight: {light: '#ce4959', DEFAULT: '#981130', dark: '#630008' },
      },
      fontFamily: {
        body: ['Poppins'],
        app_logo: ['Just Another Hand']
      }
      
    },
  },
  plugins: [
    require('@tailwindcss/forms'),
    require('daisyui')
  ],
  daisyui: {
    styled: true,
    themes: true,
    base: true,
    utils: true,
    logs: true,
    rtl: false,
    prefix: "",
    darkTheme: "dark",
  },
}
